@import './fonts.scss';

%transition-s {
  transition: all 0.3s ease;
}

%list {
  list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@mixin primary_font ($weight: 400, $style:normal) {
  font: {
    family: "Roboto Mono", monospace;
    weight: $weight;
    style: $style;
  }
}

@mixin header_font ($weight: 400, $style:normal) {
  font: {
    family: "VT323", sans-serif;
    weight: $weight;
    style: $style;
  }
  letter-spacing: 0.05em;
}

@mixin flex($direction: row, $wrap: wrap, $jc: space-between, $ali: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $jc;
  align-items: $ali;
}

@mixin flex-col($wrap: wrap, $jc: space-between, $ali: center) {
  @include flex(column, $wrap, $jc, $ali);
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin m-hover {
  @media (hover: hover) { @content; }
}

@mixin m-custom($width) {
  @media (max-width: $width) { @content; }
}
