$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 20px;
$radius-xl: 20px;
$radius-m: 10px;
$radius-s: 5px;

$bg-color: rgb(172, 135, 179);
$components-bg: rgb(204 143 184 / 60%);
$primary-color: rgb(126, 69, 130);
$accent-color: rgb(255 189 163);
$accent-color-m: rgb(244 202 186);
$accent-color-xl: rgb(252 154 84);
$dark-color-m: rgb(81, 67, 93);
$dark-color-l:rgb(66, 20, 106);
$dark-color-xl: rgb(5, 20, 27);
$light-color-m: rgb(204, 107, 142);
$light-color-l: rgb(240 141 158);
$light-color-xl: rgb(242, 242, 202);
