.footer {
  padding: $padding-s;
  &-list {
    @extend %list;
    @include flex($wrap: nowrap);
    gap: 20px;
    color: $primary-color;
  }

  &-link {
    @extend %transition-s;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    @include m-hover {
      &:hover {
        opacity: 1;
      }
    }
  }

  &-svg {
    max-height: 25px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: saturate(100%) invert(100%) sepia(48%) saturate(3317%) hue-rotate(295deg) brightness(99%) contrast(116%);
  }

}
