.main {
  flex-grow: 1;
  @include flex-col($wrap: nowrap, $jc: center);
}

.components {
  min-height: 100%;
  background: #ffffff64;
  border-radius: $border-radius;
  padding: 20px;
  overflow: hidden;
}
